.status-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.status-dropdown {
  position: relative;
}

.status-dropdown-options {
  width: 47px;
  position: absolute;
  display: flex;
  flex-direction: column;
  padding: 3px;
  gap: 3px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  visibility: hidden;
  cursor: pointer;
  right: 0;
  z-index: 2;
  background-color: greenyellow;
  border: 1px solid black;
}

.status-dropdown-options.show {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-option:hover {
  background-color: rgba(220, 220, 220, 0.465);
}

.icon {
  transition: 0.3s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}
