.status-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.status-dropdown {
  position: relative;
}

.status-dropdown-options {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  left: 100%;
  background-color: white;
  border: 1px solid var(--main-color);
  border-radius: var(--radius-sm);
  padding: 8px;
  min-width: 60px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 1;
  transform: translate(10px, -100px);
}

.status-dropdown-options.show {
  opacity: 1;
  pointer-events: auto;
  transform: translate(10px, -20px); /* 👈 moved slightly up & right */
}

.dropdown-option:hover {
  cursor: pointer;
  background-color: rgba(220, 220, 220, 0.465);
}

.icon {
  transition: 0.3s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}
