.user-header {
  flex: 0 0 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: var(--space-xs);
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;

  background-color: var(--main-color);
  border-top: none;
}

.user-header-details {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  background-color: white;
  border-radius: var(--radius-xs);
  padding: 1px 6px 1px 6px;
}

.username {
  font-family: var(--logo-font);
  font-size: var(--font-body);
}

.user-image {
  width: 40px;
  height: 40px;
}

.user-btns {
  display: flex;
  gap: 10px;
  position: relative;
}

.pending-friend-requests-bubble {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
  height: 16px;
  border: 1px solid black;
  border-radius: 50%;
  top: -6px;
  left: -6px;
  font-size: 12px;
  background-color: red;
}
