.add-members-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.add-members-header {
  height: 60px;
  flex: 0 0 60px;
  width: 100%;
  display: flex;
  padding: 10px;
  align-items: center;
  background-color: var(--main-color);
}

.add-members-body {
  display: flex;
  flex: 1;
  padding: var(--space-xs);
  margin: var(--space-xs);
  gap: var(--space-xs);
  border-radius: var(--radius-sm);
}

.members-search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  gap: var(--space-xs);
  border-radius: var(--radius-sm);
  border: 1px solid gainsboro;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); */
}
.members-search-results {
  flex: 1;
  border-radius: var(--radius-sm);
  padding: var(--space-xs);
  border: 1px solid gainsboro;

  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06); */
}
