.chats-bar {
  display: flex;
  flex-direction: column;
  min-width: 250px;
  /* background-color: var(--main-color); */
}

.chats-list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: var(--space-xs);
  height: 100%;
  overflow-y: auto;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}

.team-actions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--space-xs);
  gap: 10px;
  width: 100%;
  border-left: 1px solid gainsboro;
  border-right: 1px solid gainsboro;
}
