.image-preview {
  border: 1px solid black;
  border-radius: var(--radius-circle);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  padding: 20px;
}

.image-container {
  margin-top: var(--space-sm);
}
