.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-field {
  position: relative;
}

.input-field svg {
  position: absolute;
  top: 2px;
  right: 6px;

  height: 24px;
  width: 24px;

  cursor: pointer;
  color: var(--main-color);
  background-color: white;
}
