/* ///////////////////////// */
/* GLOBAL RESET */
/* ///////////////////////// */
:root {
  font-family: "Inter";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* VARIABLES */

  /* Fonts */
  --primary-font: "Inter", sans-serif;
  --logo-font: "Madimi One", Arial, sans-serif;
  /* Fonts end*/

  /* Spacing */
  --space-xxs: 4px;

  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 64px;
  /* Spacing end*/

  /* Radius */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 26px;
  --radius-circle: 50%;
  /* Radius end*/

  /* Font */
  --font-caption: 1.28rem;
  --font-body: 1.6rem;
  --font-heading-landing: 8rem;

  /* Unused fonts */
  --font-heading-4: 2rem;
  --font-heading-4: 2.5rem;
  --font-heading-3: 3.13rem;
  --font-heading-2: 3.91rem;
  --font-heading-1: 4.48rem;
  /* Font end*/

  /*Colors*/
  --main-color: rgb(105, 177, 105);
  --main-color-drk: rgb(30, 121, 30);

  /* Animations */
  --transition: opacity 0.3s ease-in-out;

  /* VARIABLES END*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: var(--font-body);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--logo-font);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
