/* ///////////////////////// */
/* GLOBAL RESET */
/* ///////////////////////// */
:root {
  font-family: "Inter";
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* VARIABLES */

  /* Fonts */
  --primary-font: "Inter", sans-serif;
  --logo-font: "Madimi One", Arial, sans-serif;
  /* Fonts end*/

  /* Spacing */
  --space-xs: 8px;
  --space-sm: 16px;
  --space-md: 32px;
  --space-lg: 64px;
  /* Spacing end*/

  /* Radius */
  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;
  --radius-lg: 26px;
  --radius-circle: 50%;
  /* Spacing end*/

  /*Colors*/
  --main-color: rgb(105, 177, 105);
  --main-color-drk: rgb(30, 121, 30);

  /* VARIABLES END*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--logo-font);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
  cursor: pointer;
}
