.login-form-container {
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);

  background-color: var(--main-color);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: var(--space-md);
  background-color: white;
  border-radius: var(--radius-sm);
}

.login-form h1 {
  margin-bottom: var(--space-xs);
}

.login-form button {
  margin-top: 13px;
}
